.cart {
    width: 100%;
}

.box {
    width: 100%;
    display: flex;

}

.main__cart {
    width: 72%;
    border: 1px solid gray;
}

.class {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.betwen {
    width: 350px;
}

.muth {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    background: none;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
}

.muth__btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
    background: none;
    border: none;
}

.calcus {
    width: 150px;
    height: 120px;
    text-align: right;
    line-height: 30px;
}

.delete {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0px 0px 0px 60px;
    border: none;
    background: none;
    color: gray;
    gap: 5px;
}


.delete svg {
    font-size: 30px;
}

.delete:hover {
    color: black;
}

.type {
    width: 95%;
    margin: auto;
}

.typeing {
    width: 85%;
    margin: auto;
}

.right__cart {
    width: 27%;
    height: 400px;
    border: 1px solid rgb(180, 180, 180);
    margin: 0px 0px 0px 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 55px;
}

.right__cart input {
    width: 250px;
    height: 37px;
    outline: none;
    padding: 0px 0px 0px 20px;
    border: none;
    background: rgb(239, 238, 242);
    font-size: 17px;
}

.shop {
    width: 250px;
    height: 45px;
    background: var(--bg-py);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top svg {
    width: 20px;
    color: var(--bg-py);

}

.look {
    font-size: 13px;
}

.look button {
    border: 1px solid var(--bg-py);
    background: none;
    color: var(--bg-py);
    width: 100px;
    height: 30px;
}

@media screen and (max-width: 1350px) {
    .right__cart {
        display: none;
    }

    .main__cart {
        width: 100%;

    }
}

@media screen and (max-width: 550px) {
    .betwen {
        font-size: 12px;
    }

      .class img {
        width: 70px;

    }
    .muth{
        width: 100px;
        height: 30px;
    }
    .calcus{
       display: none;
    }
    
   
   
}